.top-songs-component {
  width: 100%;
  max-width: 320px;

  .sharableContent {
    padding: 40px 24px 32px;
    background-color: var(--bg-primary);
  }

  .title {
    font-weight: 600;
    display: flex;
    padding: 16px 0 0;
    align-items: center;
    color: var(--fg-secondary);
    font-size: 16px;
    justify-content: center;
  }

  .sub-title {
    font-size: 24px;
    line-height: 1;
    padding: 0 0 32px;
    font-weight: 600;
    text-align: center;
  }

  .song-info-component {
    padding-bottom: 24px;
  }

  .site-address {
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    letter-spacing: 1px;
    color: var(--fg-secondary);
    padding-top: 8px;
  }

  .download-btn-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    .btn {
      border-radius: 100px;
      background-color: var(--green);
      font-weight: 600;
      border: 0;
      font-size: 13px;
      letter-spacing: 1px;
      padding: 12px 40px;
      text-transform: uppercase;

      &:hover,
      &:active,
      &:focus {
        border: 0 !important;
        background-color: var(--light-green) !important;
        box-shadow: none;
      }
    }

    .text {
      padding: 8px 0;
      font-size: 14px;
      font-weight: 600;
    }
  }
}

@media (min-width: 576px) {
  .top-songs-component {
    width: 360px;
    max-width: none;
  }
}
