.top-songs-component {
  .title {
    font-size: 24px;
    font-weight: 600;
    padding: 16px 0;
    text-align: center;
  }
}

.share-songs-modal {
  .modal-body {
    background-color: #1f1f1f;
  }
}

@media (min-width: 576px) {
  .top-songs-component {
    .title {
      text-align: left;
      padding: 32px 0 16px;
    }
  }
}
