.profile-info-component {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 24px;
  position: relative;

  .user-picture {
    border-radius: 50%;
    margin: 0 0 16px 0;
    width: 80px;
    height: 80px;
  }

  .username-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    .username {
      font-size: 24px;
      font-weight: 700;
      line-height: 32px;
      text-align: center;
    }

    .logout-button-component {
      padding-top: 8px;
    }
  }
}

.profile-loader {
  font-size: 48px;
  fill: var(--bg-secondary);
  display: block;
  margin: 0 auto;
  height: 110px;
  padding-bottom: 15px;
}

@media (min-width: 768px) {
  .profile-info-component {
    border-bottom: 1px solid var(--bg-secondary);
    flex-direction: row;
    justify-content: center;

    .user-picture {
      width: 100px;
      height: 100px;
      margin: 0 32px 0 0;
    }

    .username-container {
      align-items: flex-start;

      .username {
        font-size: 32px;
        line-height: 40px;
        text-align: left;
      }
    }
  }
}
